.button_header {
   background-color: rgba(14, 71, 121, 0);
   border: 2px solid #ffff;
   border-radius: 6px;
   color: #ffff;
   padding-inline: 24px;
   padding-block: 9px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
}

.button_header:hover {
   transition: .5s;
   background-color: $dark_green;
   color: #ffff;
}

.button_header:active {
   transition: .5s;

   background: $dark_grey;

}

.button_header_bc_green {
   background-color: $dark_green;
   border: 2px solid $dark_green;
   border-radius: 6px;
   color: #ffff;
   padding-inline: 24px;
   padding-block: 9px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;

   @media screen and (max-width: 360px) {
      font-size: 16px;
      padding-inline: 14px;
      padding-block: 9px;
      text-align: center;
   }
}

.button_header_bc_green:hover {
   transition: .5s;
   background-color: rgba(0, 0, 0, 0);
}

.button_header_bc_green:active {
   transition: .5s;
   background: $dark_grey;
}

.button_header_more {
   padding-inline: 52px;

   @media screen and (max-width: 360px) {
      font-size: 16px;
      padding-inline: 42px;
      padding-block: 9px;
      text-align: center;
   }
}

.header_content_buttom {
   display: flex;
   gap: 24px;

   @media screen and (max-width: 360px) {
      justify-content: space-around;
   }
}

.button_primary {
   background-color: $dark_green;
   border: 2px solid $dark_green;
   border-radius: 6px;
   color: #ffff;
   // padding-inline: 24px;
   // padding-block: 9px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
   align-items: center;
   text-align: center;
   width: 220px;
   height: 42px;
   &:hover {
      transition: .5s;
      background-color: $dark_grey;
      opacity: 0.18;
   }
   &:active{
      opacity: 0.3;
   }
}