.content_min_text {
   display: none;

   @media screen and (max-width: 360px) {
      display: block;
      text-align: center;
      width: 324px;
      height: fit-content;
      margin: 16px auto;
   }
}

.content_technology {
   margin-top: 100px;

   @media screen and (max-width: 360px) {
      margin-top: 20px;
   }
}

.content_title {
   font-weight: 700;
   font-size: 36px;
   font-family: "Sora";
   text-transform: uppercase;
   text-align: center;
   color: $dark_blue;

   @media screen and (max-width: 360px) {
      font-size: 22px;
      margin-bottom: 22px;
   }
}

.technologi_text {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 38px;
   text-align: center;
   height: 80px;
   width: 900px;
   margin: 60px auto 30px auto;

   @media screen and (max-width: 360px) {
      font-size: 18px;
      text-align: center;
      max-width: 320px;
      margin: 0 auto;
   }
}

.stans_blue {
   color: rgba(0, 164, 232, 1);
   font-weight: 700;
}

.assents_blue {
   color: $dark_blue;
   font-weight: 700;
}

.content_icon {
   display: flex;
   justify-content: center;
   gap: 80px;

   @media screen and (max-width: 360px) {
      justify-content: space-around;
      gap: 50px;
      margin-top: 88px;
      margin-bottom: 22px;
   }
}

.android,
.apple,
.unity {
   width: 64px;
   height: 64px;
   background-color: $dark_green;
   border-radius: 16px;
   text-align: center;
   box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
}

.apple {
   background-color: $medium_blue2;
}

.unity {
   background-color: $light_blue;
}

.content_icon_link::before {
   line-height: 60px;
   font-size: 32px;
}

.grade_star {
   height: 140px;
   width: 900px;
   box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
   border-radius: 16px;
   margin: 0 auto 120px auto;
   display: flex;
   justify-content: space-around;
   align-items: center;

   @media screen and (max-width: 360px) {
      height: 294px;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      margin: 80px auto;
   }
}

.content_services {
   width: 70%;
   margin: 100px auto 0 auto;
   display: flex;
   flex-direction: column;

   @media screen and (max-width: 360px) {
      max-width: 360px;
   }

}

.content_services_text_img {
   display: flex;
   flex-basis: 100%;
   align-items: center;
   gap: 24px;

   @media screen and (max-width: 360px) {
      font-size: 16px;
      text-align: center;
      flex-direction: column;
      gap: 0px;

      & img {
         object-fit: contain;
      }
   }
}

.subtitle {
   font-size: 24px;
   font-weight: 700;
   color: $medium_blue;
   font-family: "Sora";
   margin-bottom: 12px;

   @media screen and (max-width: 360px) {
      font-size: 18px;
      text-align: center;
   }
}

.content_services_text {
   max-height: max-content;
   max-width: 555px;

   @media screen and (max-width: 360px) {
      font-size: 16px;
      text-align: center;
      width: 320px;
      margin: 0 auto;

   }
}

.reverse {
   flex-direction: row-reverse;

   @media screen and (max-width: 360px) {
      flex-direction: column;

   }
}



.content_text_min {
   display: none;

   @media screen and (max-width: 360px) {
      display: block;
      text-align: start;
   }
}

.partner_talk {
   width: 1600px;
   height: 540px;
   background-image: url(../img/partner_talk.jpg);
   background-repeat: no-repeat;
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @media screen and (max-width: 360px) {
      max-width: 360px;
      max-height: 380px;
      background-size: cover;
   }
}

.heading {
   color: white;
   text-align: center;

   @media screen and (max-width: 360px) {
      font-size: 24px;
   }
}

.partner_talk_text {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: white;
   text-align: center;
   margin: 16px auto 36px auto;

   @media screen and (max-width: 360px) {
      font-size: 16px;
   }
}

.partner_talk_button {
   text-align: center;
   align-items: center;
   margin: 0 auto;
}

.achievemets {
   margin-top: 80px;
}

.achievemets_card {
   display: flex;
   margin: 100px auto 130px auto;
   justify-content: center;
   gap: 26px;
   width: 1600px;
   @media screen and (max-width: 360px) {
      flex-direction: column;
      align-items: center;
      max-width: 360px;
   }
}

.achievemets_card_item {
   width: 322px;
   height: 383px;
   border-radius: 16px;
   box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-repeat: no-repeat;
   background-size: contain;
}

.card1 {
   background-image: url(../img/card_item1.svg);
}

.card2 {
   background-image: url(../img/card_item2.png);
}

.card3 {
   background-image: url(../img/card_item3.svg);
}

.card4 {
   background-image: url(../img/card_item4.png);
}

.achievemets_card_text {
   color: $dark_grey;
   text-align: center;
   margin-bottom: 62px;

   span {
      font-weight: 700;
      color: $medium_blue2;
   }
}

#black_color {
   color: $dark_grey;
}

.partners {
   margin: 0 auto;
   background-image: url(../img/partnetrs_backg.svg);
   width: 1600px;

   @media screen and (max-width: 360px) {
      max-width: 360px;
   }
}

.partenr_item_cards {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   justify-content: center;
   margin-top: 80px;
}

.partner_card {
   width: 322px;
   height: 160px;
   box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
   border-radius: 16px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;

   @media screen and (max-width: 360px) {
      width: 146px;
      height: 73px;
   }
}

.contacts {
   margin: 125px auto;

   @media screen and (max-width: 360px) {
      margin: 60px auto;

   }

   p {
      margin-top: 60px;
      margin-bottom: 100px;
      text-align: center;

      span {
         font-weight: 700;
         font-size: 24px;
               }

      @media screen and (max-width: 360px) {

         margin: 10px auto 15px auto;
      }

   }
}

.contacts_info {
   display: flex;
   justify-content: center;
   gap: 190px;
   @media screen and (max-width: 360px) {
   flex-direction: column; 
   gap: 30px;  
   }
}
.contacts_item{
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 24px;
   @media screen and (max-width: 360px) {
      height: 320px;
      width: 320px;
      text-align: start;
      margin: 20px auto;
      }
}

.contat_form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 420px;
   height: 400px;
   box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
   border-radius: 6px;
   padding: 50px 40px;
   input{
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 400;
      height: 40px;
      width: 340px;
      padding-inline: 16px;
      @media screen and (max-width: 360px) {
         width: 275px;
         }
   }
   textarea{
      resize: none;
      height: 80px;
      width: 340px;
      padding: 5px 13px;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 400;
      @media screen and (max-width: 360px) {
         width: 275px;
         }
   }
   button{
      width: 340px;
      background-color: #2DA531;
      @media screen and (max-width: 360px) {
         width: 275px;
         }
   }
   @media screen and (max-width: 360px) {
      width: 320px;  
      height: 360px;
      margin: 0 auto;
      padding: 40px 20px;
      }
}
.contacts_item{
   li{
      gap: 20px;
   column-gap: 20px;
   padding-bottom: 24px;
   }
}
.contact_icon:before{
   color: $medium_blue2;
   font-size: 20px;
   margin-right: 18px;
   }
.display_none {
   @media screen and (max-width: 360px) {
      display: none;

   }
}



// .display_none
// @media screen and (max-width: 360px) {
// }