.header_white {
   max-width: 1600px;
   height: max-content;

   .menu-btn span {
      background-color: $dark_blue;
   }

   @media (max-width: 360px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 10px;
   }
}

.main__content_white {
   max-width: 1360px;
   margin: 0 auto;

   @media (max-width: 360px) {
      max-width: 320px;
      margin: 0 auto;

   }
}

.header_nav_white {
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   text-align: center;

   @media (max-width: 360px) {
      max-width: 320px;
      background: none;
      box-shadow: none;
      height: 24px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

   }

}

.header_list_item_white {
   display: flex;
   flex-basis: 100%;
   height: 80px;
   align-items: center;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   justify-content: space-between;
   gap: 20px;

   @media screen and (max-width: 360px) {
      display: none;
   }

   li {
      color: $medium_blue;

      &:hover {
         transition: .5s;
         color: #00A4E8;
      }

      cursor: pointer;

      &:last-child a:hover {
         color: white;
      }

      &::after {
         color: $medium_blue;
      }
   }


   a {
      color: $medium_blue;

      &:hover {
         transition: .5s;
         color: #00A4E8;
      }

   }
}

.sub_menu_white {
   min-width: max-content;
   background: white;
   box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
   padding: 12px 8px 0px 16px;
   border-top: 3px solid #00A4E8;
   position: absolute;
   top: 36px;
   border-radius: 0px 0px 16px 16px;
   cursor: none;
   visibility: hidden;
   transition: all 0.5s ease 0s;

   li {
      padding-bottom: 13px;

      &:last-child a:hover {
         color: #00A4E8;
      }
   }
}

.header_nav_list_sub:hover .sub_menu_white {
   visibility: visible;

}

.heade_content_white {
   width: 1400px;
   margin: 0 auto;
   margin-top: 42px;
   display: flex;
   justify-content: space-between;

   h1 {
      color: $dark_blue;

   }

   picture {
      margin-top: -50px;
   }

   @media screen and (max-width: 360px) {
      width: 360px;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
   }
}

.header_content_nav {
   color: $dark_blue;
   display: flex;
   flex-direction: column;
   gap: 120px;

   ._arrow_arrow_text::after {
      font-size: 5px;
      color: black;
      display: inline-block;
      transform: rotate(270deg);
      padding-block-start: 6px;
      padding-inline: 6px;
   }

   a {
      color: $dark_blue;
   }

   @media screen and (max-width: 360px) {
      gap: 36px;
   }

}

.header__white_content_text,
.white_content_text {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 86px;

   div {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 21px;

      p {
         max-height: 245px;
         overflow: auto;
      }
   }

   @media screen and (max-width: 360px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;

      div {
         width: 100%;
      }
   }
}

// Header END
// SERVICEC STATR
.vr_services_list {
   margin-top: 70px;
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   justify-content: center;

   @media screen and (max-width: 360px) {
      gap: 29px;
   }
}

.vr_services_item {

   figure {
      height: 320px;
      width: 322px;
      background-color: #F4F8FD;
      box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
      border-radius: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 46px;

      &:hover {
         background-color: #FFFFFF;
         ;
      }

      @media screen and (max-width: 360px) {
         height: 162px;
         width: 145px;
         gap: 20px;
      }
   }

   figcaption {
      font-family: "Sora";
      font-weight: 700;
      font-size: 20px;
      color: $medium_blue;
      line-height: 30px;
      text-align: center;

      @media screen and (max-width: 360px) {
         font-size: 12px;
         line-height: 22px;

      }
   }
}

.white_content_text {
   margin-top: 130px;

   @media screen and (max-width: 360px) {
      margin-top: 70px;

   }
}

// SERVICES END

// Recent Projects start
.recent_projects {
   height: 1113px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(../img/recent_projects_bc.svg);

   h2 {
      margin-bottom: 90px;

      @media screen and (max-width: 360px) {
         margin-bottom: 50px;
      }
   }

   @media screen and (max-width: 360px) {
      margin-top: 150px;
   }
}

.recent_projects_list {
   display: flex;

   @media screen and (max-width: 360px) {
      flex-direction: column;
      gap: 40px;
   }
}

.recent_projects_item {
   width: 400px;
   height: 438px;
   box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
   border-radius: 16px;

   img {
      border-radius: 16px 16px 0 0;
   }

   figcaption {
      width: 368px;
      margin: 0 auto;
      margin-top: 16px;

      @media screen and (max-width: 360px) {
         margin-top: 12px;
         width: 294px;
      }
   }

   @media screen and (max-width: 360px) {
      width: 320px;
      height: 390px;
   }
}

// start section faqs
.faqs {
   width: 100%;

   margin-top: 30px;

   @media screen and (max-width: 360px) {
      width: 320px;

   }
}

.faqs_content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 60px;
   @media screen and (max-width: 360px) {
      margin-top: 135px;
   }
}

.faqs_content_items {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 26px;

   height: max-content;

   @media screen and (max-width: 360px) {
      gap: 20px;
   }

   li {
      list-style-type: disc;
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      color: $medium_blue;

      @media screen and (max-width: 360px) {
         font-size: 18px;
         font-weight: 600;
         line-height: 28px;
      }

   }

}

.faqs_content_items_block {
   display: flex;
   justify-content: space-between;
   max-width: 880px;
   margin: 0 auto;
   gap: 28px;

   img {
      margin-top: 20px;
      width: 34px;
      object-fit: cover;
      height: 100%;
   }
   
}

.faqs_content_item_part2 {
   display: flex;
   flex-direction: column;
   max-width: 891px;
   text-align: start;
   margin: 0 auto;
   padding-bottom: 12px;
   border-bottom: #0d6db778 solid 1px;

   ._arrow_arrow_text::after {
      font-size: 12px;
      color: black;
      display: inline-block;
      transform: rotate(180deg);
      -webkit-padding-before: 6px;
      position: absolute;
      left: -32px;
      top: 7px;
   }

   .faq_subtitle {
      font-size: 20px;
      font-family: 'Montserrat';
      font-weight: 700;
      max-width: 856px;
      margin-left: 20px;
   }

   @media screen and (max-width: 360px) {
      width: 100%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

      .faq_subtitle {
         font-size: 18px;
         line-height: 28px;
         width: 280px;

      }

      .faq_text {
         width: 280px;
      }
   }
}

.faq_subtitle {
   font-size: 20px;
   font-family: 'Montserrat';
   font-weight: 700;
   position: relative;
}
.faq_text{
   max-width: 856px;
   margin: 0 auto;
}