* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.content_body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
}
@media screen and (max-width: 360px) {
  .content_body {
    width: 355px;
  }
}

.content_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.header {
  width: 1600px;
  height: 940px;
  background: linear-gradient(89.81deg, #1F0047 23.59%, rgba(16, 0, 80, 0.1) 58.68%, rgba(25, 0, 123, 0) 84.34%), url(../img/header_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}
@media screen and (max-width: 360px) {
  .header {
    max-width: 355px;
    max-height: 372px;
    background: linear-gradient(89.8deg, #1F0047 20.07%, rgba(16, 0, 80, 0.1) 56.78%, rgba(25, 0, 123, 0) 83.62%), url(../img/min_header_background.jpg);
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    padding-top: 6px;
  }
  .header .logo_type2,
.header .header_text,
.header .contact_fixed {
    display: none;
  }
}

.min_header_logo {
  display: none;
}
@media screen and (max-width: 360px) {
  .min_header_logo {
    display: block;
  }
}

.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media screen and (max-width: 360px) {
  .menu-btn {
    display: block;
  }
}

.menu-btn span {
  width: 26px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(33, 33, 33, 0.8);
  transform: translateY(-100%);
  transition: transform 0.5s;
  text-align: center;
}
@media screen and (max-width: 360px) {
  .menu {
    display: block;
  }
}

.menu.active {
  transform: translateX(0);
  text-align: center;
}

.menu ul li {
  padding: 12px;
}

.menu li {
  list-style-type: none;
}

.menu a {
  color: white;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.logo_type2 {
  position: absolute;
  right: 50px;
  top: 160px;
}

.header_nav {
  display: flex;
  width: 100%;
  height: 80px;
  background: rgba(33, 33, 33, 0.3);
  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
}
@media screen and (max-width: 360px) {
  .header_nav {
    max-width: 320px;
    background: none;
    box-shadow: none;
    height: 24px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.header_list_item {
  display: flex;
  flex-basis: 100%;
  height: 80px;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 360px) {
  .header_list_item {
    display: none;
  }
}
.header_list_item li {
  cursor: pointer;
}
.header_list_item li:hover {
  transition: 0.5s;
  color: rgb(68, 201, 255);
}
.header_list_item li:last-child a:hover {
  color: white;
}
.header_list_item a {
  color: white;
}
.header_list_item a:hover {
  transition: 0.5s;
  color: rgb(68, 201, 255);
}

.logo_type1 {
  width: 207px;
  margin-bottom: 10px;
  margin-right: 144px;
}

.ml-150px {
  margin-left: 150px;
}

.arrow {
  display: flex;
  align-items: center;
}

.header_nav_list_sub {
  position: relative;
}

.sub_menu {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background: rgba(33, 33, 33, 0.8);
  box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.3);
  padding: 12px 8px 0px 16px;
  border-top: 3px solid #00A4E8;
  position: absolute;
  top: 36px;
  border-radius: 0px 0px 16px 16px;
  cursor: none;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.sub_menu li {
  padding-bottom: 13px;
}
.sub_menu li:last-child a:hover {
  color: #00A4E8;
}

.header_nav_list_sub:hover .sub_menu {
  visibility: visible;
}

.header_content {
  max-width: 590px;
  margin: 148px 0 0 6%;
}
@media screen and (max-width: 360px) {
  .header_content {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30% 0 0 0;
  }
}

.title {
  font-size: 44px;
  font-weight: 700;
  font-family: "Sora";
  line-height: 60px;
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 36px;
  }
}

.header_text {
  height: 160px;
  overflow: auto;
  margin: 16px 0 40px 0;
}

.contact_fixed {
  background-color: white;
  width: 48px;
  height: 144px;
  border-radius: 3px;
}
.contact_fixed a:last-child {
  border-radius: 0 0 3px 3px;
}

.sticky_content {
  display: block;
  height: 25%;
  background-color: white;
  border-bottom: 1px solid rgba(25, 68, 132, 0.1764705882);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 36px;
}

.sticky_content::before {
  color: rgb(13, 110, 183);
}

.sticky_content:hover:before {
  transition: 0.5s;
  color: #66D6A0;
}

.button_header {
  background-color: rgba(14, 71, 121, 0);
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  padding-inline: 24px;
  padding-block: 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.button_header:hover {
  transition: 0.5s;
  background-color: #06B25F;
  color: white;
}

.button_header:active {
  transition: 0.5s;
  background: #242424;
}

.button_header_bc_green {
  background-color: #06B25F;
  border: 2px solid #06B25F;
  border-radius: 6px;
  color: white;
  padding-inline: 24px;
  padding-block: 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
@media screen and (max-width: 360px) {
  .button_header_bc_green {
    font-size: 16px;
    padding-inline: 14px;
    padding-block: 9px;
    text-align: center;
  }
}

.button_header_bc_green:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

.button_header_bc_green:active {
  transition: 0.5s;
  background: #242424;
}

.button_header_more {
  padding-inline: 52px;
}
@media screen and (max-width: 360px) {
  .button_header_more {
    font-size: 16px;
    padding-inline: 42px;
    padding-block: 9px;
    text-align: center;
  }
}

.header_content_buttom {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 360px) {
  .header_content_buttom {
    justify-content: space-around;
  }
}

.content_technology {
  margin-top: 100px;
}

.content_title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Sora";
  text-transform: uppercase;
  text-align: center;
  color: #194484;
}

.technologi_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  height: 80px;
  width: 900px;
  overflow: auto;
  margin: 0 auto;
}

.stans_blue {
  color: rgb(0, 164, 232);
  font-weight: 700;
}

.assents_blue {
  color: #194484;
  font-weight: 700;
}

.content_icon {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.android,
.apple,
.unity {
  width: 64px;
  height: 64px;
  background-color: #06B25F;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
}

.apple {
  background-color: #276ED8;
}

.unity {
  background-color: #84B5FF;
}

.content_icon_link::before {
  line-height: 60px;
  font-size: 32px;
}/*# sourceMappingURL=style.css.map */